body {
  /*
  forms
  */
}
body .btn {
  border-radius: 0;
  padding: 8px 12px;
  text-transform: uppercase;
}
body .btn-primary {
  background-color: #2196f3;
  border-radius: 0;
  border: solid 1px #0d8aee;
}
body .btn-primary:hover {
  background-color: #39a1f4;
  border: solid 1px #2196f3;
}
body .btn-primary:active:focus {
  border: solid 1px #6ab8f7;
  background-color: #6ab8f7;
}
body .btn-primary:focus {
  border: solid 1px #6ab8f7;
  background-color: #6ab8f7;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
body .btn-success {
  background-color: #4caf50;
  border-radius: 0;
  border: solid 1px #449d48;
}
body .btn-success:hover {
  background-color: #5cb860;
  border: solid 1px #4caf50;
}
body .btn-danger {
  background-color: #ef5350;
  border-radius: 0;
  border: solid 1px #ed3c39;
}
body .btn-danger:hover {
  background-color: #f16a67;
  border: solid 1px #ef5350;
}
body .form-control {
  border-radius: 0;
  box-shadow: none;
}
body {
  /*
  panels
  */
}
body .panel {
  border-radius: 0;
  border: none;
}
body .panel > .panel-body {
  background-color: #f5f5f5;
  padding: 32px;
}
body .panel > .panel-heading {
  display: flex;
}
body .panel > .panel-heading h4 {
  display: flex;
  align-self: flex-end;
  font-weight: 400;
}
body .panel > .panel-heading.panel-heading-card {
  min-height: 148px;
}
body .panel.panel-primary > .panel-heading {
  border-radius: 0;
  background-color: #2196f3;
}
body ul.parsley-errors-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 2px;
}
body ul.parsley-errors-list li {
  color: #ef5350;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
